$heading-1:1.5rem;
$heading-2:1rem;
$para:0.8rem;

$base-color:#0B3150;
$secondary-color:#A9BCC1;
$primary-color:#FAE3AD;

:root{
    --width:100vw;
    --height:100vh;
}

.CertiPapers{
    position:relative;
    z-index: 3;
    margin-top:10vh;
    // background-image: linear-gradient(to top,$base-color,$secondary-color,$primary-color,$secondary-color,$base-color);
    background-image: linear-gradient(to top,$primary-color,white);
    // background-image: linear-gradient(to top,$base-color,white);

    // background-color:lightcoral;
    .carousel{
        height:var(--height);
        width:var(--width);
        // background-color: lightgreen;
        display: flex;
        justify-content: center;
    }

    #title-certipapers{
        position:relative;
            // left:5%;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size:$heading-1;
    }
    
    #carousel-lane{
        display:flex;
        align-items: center;
        justify-content: space-around;
        width:100%;
    
    }
    
    .track{
        position:relative;
        align-self: center;
        height:calc(0.8*var(--height));
        width:calc(0.8*var(--width));
        /* background-color: magenta; */
        /* display:flex; */
        overflow-x:hidden;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .track::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .track{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    
    .frame{
        position: absolute;
        height:100%;
        width:100%;
        margin: 0;
        padding: 0;
        // background-color: $secondary-color;
        .Frame-content{
            position:relative;
            display:flex;
            #left-col, #right-col{
                position:relative;
                width:10%;
                z-index:20;
            }
        
            #mid-col{
                position:relative;
                width:80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .img-item{
                    position: relative;
                    height:100%;
                    width:55vw;
                }
            }
            
        }
    }
    
    #right-button, #left-button{
        position: relative;
        /* top:45%; */
        border:1px solid $base-color;
        height:8vw;
        width:8vw;
        max-height:8vh;
        max-width:8vh;
        background-color: transparent;
        border-radius: 4vw;
        display:flex;
        align-items:center;
        justify-content: center;
        p{
            position:relative;
            bottom:2px;
            font-size:4vh;
        }
    }

    #right-button:hover , #left-button:hover {
            background-color: $base-color;
            color:$primary-color;
    }
    
    #strip{
        position:relative;
        height:calc(0.8*var(--height));
        width:auto;
        /* background-color: magenta; */
        display:flex;
        left:0;
        transition:left 0.5s ;
        /* justify-content: space-around; */
    }
    
    .nav{
        display: flex;
        /* height:calc(0.1*var(--height)); */
        /* background-color: red; */
        width:calc(0.2*var(--height));
        align-items: center;
        justify-content: space-evenly;
    }
    
    .tab{
        /* position:relative; */
        border:1px solid black;
        height:10px;
        width:10px;
        border-radius:5px;
    }
    
    .tab:hover{
        border:1px solid grey;
    }
    
    .tab-active{
        background-color: black;
    }
    
    .grid{
        display: grid;
        grid-template-columns: 100%;
        // grid-template-rows: 80% auto;
    }
    
    .grid-item{
        align-self:center;
        justify-self: center;
        // border:1px solid red;
    }
}

@media (max-width:1122px){
    #mid-col{
        position:relative;
        width:80%;
        top:25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img-item{
            position: relative;
            height:100%;
            width:55vw;
        }
    }
}  