// @font-face{
//     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//     src: url('impact.ttf');
// }

$heading-1:1.5rem;
$heading-2:1rem;
$para:0.8rem;

$base-color:#0B3150;
$secondary-color:#A9BCC1;
$primary-color:#FAE3AD;

:root{
    --width:400px;
    --height:500px;
}

.Education{
    position:relative;
    display:flex;
    // background-color: white;
    #left-col, #right-col{
        position:relative;
        width:10%;
        // background-color: burlywood;
        z-index:20;
    }

    #mid-col{
        position:relative;
        width:80%;
        display: flex;
        flex-direction: column;
        #heading{
            position:relative;
            left:5%;
            font-size:$heading-1;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        // width:auto;
        .card-array{
            position:relative;
            // grid-column-start: 2;
            // grid-column-end: 3;
            display: flex;
            flex-direction: column;
            // height:var(--height);
            // background-color: grey;
            // box-shadow: 2px 2px black;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        
        /* Hide scrollbar for Chrome, Safari and Opera */
        .card-array::-webkit-scrollbar {
            display: none;
        }
        
        /* Hide scrollbar for IE, Edge and Firefox */
        .card-array{
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
        }
        
        .card{
            order:1;
            position:relative;
            width:100%;
        }
        
        .header{
            position:relative;
            display: flex;
            align-items:center;
            justify-content: flex-start;
            padding-left:5%;
            height:calc(0.06*var(--height));
            background-color:transparent;
            cursor:pointer;
            // background-color: linear-gradient($base-color 10%);
            font-family:'Courier New', Courier, monospace;
            font-size: $heading-2;
            border-left:12px solid $base-color;
            transition: border-left 0.3s ease-out;
            // transition: color 0.5s;
        }
        .header:hover{
            border-left:20px solid $base-color;
            background-image: linear-gradient(to right,$secondary-color,white);
        }
        
        .active{
            border-left:12px solid $base-color;
        }
        
        .detail{
            position:relative;
            width:var(--width);
            height:0px;
            overflow: hidden;
            background-color:white;
            // transition:height background-color 0.5s ease-in;
            border-left:0px solid $primary-color;
            transition: 0.3s ease-out;
            p{
                font-family:'Courier New', Courier, monospace;
                position:relative;
                left:5%;
            }
        }

        .detail-open{
            border-left:12px solid $primary-color;
            // background-color: $secondary-color;
        }
        
    }
    
}



